Calendar entry with recurrence rule cannot be created

If you try to import an ical calendar entry with grommunio-dav and thunderbird it will fail if the following recurrence is given:

RRULE:FREQ=MONTHLY;BYDAY=2MO

According to  https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html  such a format is permitted.

The error is in the function oxcical_parse_rrule() in the source code of gromox in gromox/lib/mapi/oxcical.cpp:
In ical_frequency::month it is checked whether BYSETPOS is present, and only then is patterntype = rptMonthNth set:

if (irrule.test_bymask(rrule_by::day) &&
irrule.test_bymask(rrule_by::setpos)) {
...
}

I.e., BYDAY=2MO without explicit BYSETPOS=2 is not accepted, although this is allowed according to RFC and should be interpreted correctly.

Without having looked more closely, this could also be the case with ical_frequency::year and others.


See also:
https://community.grommunio.com/d/2102-grommunio-dav-bringt-gromox-http-auf-100-cpu-last/6
https://community.grommunio.com/d/2063-probleme-mit-caldav-synchronisation/10

k2g migration (gromox-kdb2mt | gromox-mt2exm) generally copies the MAPI object directly. Going thorugh CalDAV/Thunderbird involves conversion between Internet Mail Standards and MAPI, which is normally testable with e.g.

`gromox-eml2mt --ical 149.ics | gromox-mt2exm -u abc@def.de -B calendar`

and the reverse (MAPI to IM):

`gromox-exm2eml -u abc@def.de --ical 12345` (using e.g. the msg ID printed to gromox-http audit log, or using Export to ICS from g-web). If there is an intricacy with TB and g-dav (this issue was files for Gromox instead), I'm not seeing it just yet subject to getting g-dav set up.

gromox-kdb2mt | gromox-mt2exm ran without errors. The error described in this report also occurred when setting up the Grommunio calendar in Thunderbird. Just when writing the MAPI entry. Therefore I now also suspect an error in Gromox. However, I cannot say for sure.
Setting up the calendar is an import from Thunderbird's point of view. 
If this is not the case, I will be happy to open this in grommunio-web.

Please try it out with the .ical provided. This should be reproducible.

What messages are printed if you look at the gromox-zcore log?

No errors in gromox-zcore.log.

I think I have found the error why the migrated calendar cannot be integrated in Thunderbird and why it tries to synchronize again and again.

The following procedure:
- Delete the user in Grommunio and create a new one
- Export the Kopano calendar from Thunderbird
- Setting “level = DEBUG” in /etc/grommunio-dav/glogger.ini and restarting 
- systemctl restart php8.2-fpm.service
- Import the .ics into the calendar of the newly created Grommunio user in Thunderbird

The error in /var/log/grommunio-dav/dav.log and then the import aborts:

```
09.06.2025 08:12:52 [1368] [ERROR] cal GrommunioCalDavBackend->setData(): Error updating mapi object, error code: 0x80004005 - /usr/share/grommunio-dav/lib/GrommunioCalDavBackend.php:314
```

The reason is probably the following recurrence rule in an appointment because this appointment is the last in dav.log before the import aborts:

```
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=8
```

```
BEGIN:VCALENDAR
PRODID:-//Mozilla.org/NONSGML Mozilla Calendar V1.1//EN
VERSION:2.0
BEGIN:VEVENT
CREATED:20170427T181700Z
LAST-MODIFIED:20250609T051307Z
DTSTAMP:20250609T051307Z
UID:74d6b21d-d73c-4cac-af61-6925d1882b30
SUMMARY:JaehrlicheWiederholungTest
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=8
DTSTART;TZID=Europe/Berlin:20150830T110000
DTEND;TZID=Europe/Berlin:20150830T180000
CLASS:PUBLIC
TRANSP:OPAQUE
X-MICROSOFT-CDO-INTENDEDSTATUS:BUSY
LOCATION:Irgendwo
DESCRIPTION:Jedes Jahr erster Sonntag im August
SEQUENCE:0
X-MICROSOFT-CDO-OWNER-CRITICAL-CHANGE:20160104T085628Z
X-MICROSOFT-CDO-ATTENDEE-CRITICAL-CHANGE:20160104T085628Z
X-MICROSOFT-CDO-APPT-SEQUENCE:0
X-MICROSOFT-CDO-OWNERAPPTID:-1
X-MICROSOFT-CDO-ALLDAYEVENT:FALSE
X-KOPANO-REC-PATTERN:This item is recurring
END:VEVENT
END:VCALENDAR
```

Please apply the above implemented fix also to YEARLY and WEEKLY recurrence rules.

Many thanks!




> Your file violates RFC 5545 §3.2.19, which says
> An individual "VTIMEZONE" calendar component MUST be specified for each unique "TZID" parameter value

I'm sorry, I shortened the ICAL too much. In my test, or rather the import, “VTIMEZONE” is indeed present and not the reason for the faulty import. It is therefore not necessary to build a workaround here.

The reason is, as already mentioned in my first post:

RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=8

Only here the annual instead of monthly repetition.

Here, too, https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html is clear. I think grommunio should generally follow RFCs instead of just what Microsoft specifies with Outlook/M365. Then the compatibility of the grommunio components with other OpenSource components would also be better.

Many thanks for your work!

gromox-2.46-15-g fd24bb437