Processing calendar invitations with multiple events

Hi, 

## What is happening:
If you receive an email containing a calendar invitation with several events, this is not recognised as a calendar invitation; instead, the ICS content is attached to the email as "attachment1.vcs".

## What shoud happen:
The webmail UI should be able to display all events and ONE accept/decline Button for the whole invitation with multiple events.

<details><summary>Current installed packages:</summary>

```
grommunio-web-3.18.17.g67e232f86-lp156.487.1.noarch Do 18 Jun 2026 08:58:57 CEST
gromox-debuginfo-3.7.266.mff4cfb1-lp156.59.1.x86_64 Do 18 Jun 2026 08:58:55 CEST
gromox-debugsource-3.7.266.mff4cfb1-lp156.59.1.x86_64 Do 18 Jun 2026 08:58:53 CEST
gromox-3.7.266.mff4cfb1-lp156.59.1.x86_64     Do 18 Jun 2026 08:57:22 CEST
grommunio-setup-1.1.18.4ab348b-lp156.74.1.noarch Do 18 Jun 2026 08:57:21 CEST
grommunio-admin-api-1.20.0.mc51a35b-lp156.13.1.noarch Do 18 Jun 2026 08:57:18 CEST
grommunio-common-29.13-lp156.25.1.x86_64      Mo 15 Jun 2026 16:52:16 CEST
grommunio-admin-web-5.0.0.37.0d35a44-lp156.176.1.noarch Do 11 Jun 2026 09:28:20 CEST
grommunio-cui-1.1.50.23b8a9d-lp156.9.1.noarch Mi 10 Jun 2026 09:33:12 CEST
grommunio-sync-2.4.10.5ab819e-lp156.26.1.noarch Di 09 Jun 2026 07:57:02 CEST
grommunio-dav-1.6.24.84942ef-lp156.3.1.noarch Di 09 Jun 2026 07:57:02 CEST
grommunio-release-2025.1.2-lp156.10.1.x86_64  Mo 08 Jun 2026 14:12:38 CEST
grommunio-dbconf-1.1.2.4bbae9a-lp156.38.1.x86_64 Fr 05 Jun 2026 06:57:42 CEST
grommunio-archive-1.3.13.g137.d1b0df1b-lp156.10.27.x86_64 Fr 05 Jun 2026 06:57:40 CEST
grub2-theme-grommunio-1-lp156.24.1.noarch     Do 04 Jun 2026 19:23:17 CEST
grommunio-antispam-4.0.1-lp156.5.1.x86_64     Do 04 Jun 2026 19:23:10 CEST
patterns-grommunio-1-lp156.10.1.x86_64        Mo 20 Apr 2026 22:38:44 CEST
grommunio-index-1.5.0.gb0a01b9-lp156.2.1.x86_64 Do 09 Apr 2026 18:06:38 CEST
grommunio-admin-common-50.10f1afb-lp156.51.1.noarch Do 09 Apr 2026 18:06:38 CEST
grommunio-imapsync-2.314-lp156.1.1.noarch     Do 26 Mär 2026 16:30:55 CET
grommunio-error-pages-1.0.10.bb2df37-lp156.37.1.noarch Do 26 Mär 2026 16:26:38 CET
plymouth-theme-grommunio-1-lp156.20.1.noarch  Mi 14 Jan 2026 13:10:39 CET
system-user-gromox-9-lp156.6.1.noarch         Di 06 Jan 2026 11:17:16 CET
system-user-grommunio-10-lp156.6.1.noarch     Di 06 Jan 2026 11:17:16 CET
systemd-coredump-grommunio-1-lp156.3.1.noarch Fr 25 Apr 2025 18:15:35 CEST
systemd-presets-branding-grommunio-2024.06-lp156.2.1.noarch Fr 25 Apr 2025 18:14:55 CEST
```

</details> 

<details><summary>Example ICS with multiple events which is not processed</summary>

```
BEGIN:VCALENDAR
PRODID:-//My//Company Client//DE
VERSION:2.0
METHOD:REQUEST
CALSCALE:GREGORIAN
BEGIN:VEVENT
DTSTART;TZID=Europe/Berlin:20260623T133000
DTEND;TZID=Europe/Berlin:20260623T173000
DTSTAMP:20260618T095230Z
ORGANIZER;CN=Abwesenheitsbenachrichtung:mailto:notifications@example.com
UID:abwesenheit-666-2026-06-23-pm@example.com
ATTENDEE;ROLE=REQ-PARTICIPANT;PARTSTAT=NEEDS-ACTION;RSVP=TRUE;CN=j.doe@example.com:mailto:j.doe@example.com
CREATED:20260618T095230Z
LAST-MODIFIED:20260618T095230Z
STATUS:CONFIRMED
SUMMARY:John Test
DESCRIPTION:Test von John
END:VEVENT
BEGIN:VEVENT
DTSTART;VALUE=DATE:20260624
DTEND;VALUE=DATE:20260625
DTSTAMP:20260618T095230Z
ORGANIZER;CN=Abwesenheitsbenachrichtung:mailto:notifications@example.com
UID:abwesenheit-666-2026-06-24-day@example.com
ATTENDEE;ROLE=REQ-PARTICIPANT;PARTSTAT=NEEDS-ACTION;RSVP=TRUE;CN=j.doe@example.com:mailto:j.doe@example.com
CREATED:20260618T095230Z
LAST-MODIFIED:20260618T095230Z
STATUS:CONFIRMED
SUMMARY:John Test
DESCRIPTION:Test von John
END:VEVENT
BEGIN:VEVENT
DTSTART;TZID=Europe/Berlin:20260630T093000
DTEND;TZID=Europe/Berlin:20260630T123000
DTSTAMP:20260618T095230Z
ORGANIZER;CN=Abwesenheitsbenachrichtung:mailto:notifications@example.com
UID:abwesenheit-666-2026-06-30-am@example.com
ATTENDEE;ROLE=REQ-PARTICIPANT;PARTSTAT=NEEDS-ACTION;RSVP=TRUE;CN=j.doe@example.com:mailto:j.doe@example.com
CREATED:20260618T095230Z
LAST-MODIFIED:20260618T095230Z
STATUS:CONFIRMED
SUMMARY:John Test
DESCRIPTION:Test von John
END:VEVENT
END:VCALENDAR
```

</details>
<details><summary>Example ICS with one event which is processed correctly</summary>

```
BEGIN:VCALENDAR
PRODID:-//My//Company Client//DE
VERSION:2.0
METHOD:REQUEST
CALSCALE:GREGORIAN
BEGIN:VEVENT
DTSTART;TZID=Europe/Berlin:20260623T133000
DTEND;TZID=Europe/Berlin:20260623T173000
DTSTAMP:20260618T114103Z
ORGANIZER;CN=Abwesenheitsbenachrichtung:mailto:notifications@example.com
UID:abwesenheit-666-2026-06-23-pm@example.com
ATTENDEE;ROLE=REQ-PARTICIPANT;PARTSTAT=NEEDS-ACTION;RSVP=TRUE;CN=j.doe@example.com:mailto:j.doe@example.com
CREATED:20260618T114103Z
LAST-MODIFIED:20260618T114103Z
STATUS:CONFIRMED
SUMMARY:John Test
DESCRIPTION:Test von John
SEQUENCE:0
END:VEVENT
END:VCALENDAR
```

</details>

@jengelh Perhaps I should have mentioned that this only happens in Grommunio Web. 
Thunderbird, for example, can handle such invitations without any problems. 
Furthermore, if such an invitation is accepted in Thunderbird, Grommunio Web displays these appointments in the calendar without any issues.
I’m not entirely sure whether this is actually more to do with Gromox than with Grommunio Web.

METHOD:REQUEST combined with multiple UIDs looks like a recipe for disaster.

Or, as CGPT summarizes it: "You are requesting action on three independent meetings in a single scheduling message. The standards do not clearly define a special meaning for this, and many clients either: process each event independently, / import only the first event,  ignore the scheduling semantics and treat the file as a calendar import, / or behave inconsistently. Multiple unrelated UIDs in one REQUEST are poorly supported in practice."

My findings:

* Thunderbird: seems to treat the file like METHOD:PUBLISH instead
* Alpine opening a mbox message with ics attachment: shows only the first UID
* Outlook opening ics file from disk: processes only the first UID / copies only first event to own calendar as tentative


I get your point. Multiple UIDs weren't my smartest move. 

I've just tested an invitation with multiple events sharing a single UID which is also not displayed. 
While by definition of [RFC 5554 Section 3.4 ](https://www.rfc-editor.org/info/rfc5545/#section-3.4) "multiple iCalendar objects can be sequentially grouped together in an iCalendar stream".

At this Point Alpine and Outlook should stick to the RFC. 
In don't even blame Thunderbird for updating the method property. 

But wouldn't it be great if at least Grommunio could process iCalendar entries in accordance with the RFC? 







As always, MAPI is the problem. It can only store one meeting per MAPI message. [MS-OXCICAL](https://learn.microsoft.com/en-us/openspecs/exchange_server_protocols/ms-oxcical/7befe35d-0652-447f-a780-d5fd5b879d38), which talks about the iCal-to-MAPI conversion, puts a limit as to how much iCal it wants to support:

>In the case where the METHOD property is set to 'REQUEST', 'REPLY', or 'CANCEL', the VCALENDAR component MUST define exactly one appointment.

It is left unspecified what should happen otherwise. So Outlook and Exchange chose data loss and gromox-oxcical chose preservation/producing an attachment. I pondered splitting the iCal into multiple MAPI messages, but then you can get different behavior when it comes to rule processing and meeting processing. An inbox rule that forwards could suddenly forward just fragments of the original mail, which seems to go counter to user expectations.
Maybe the special case can be enabled just for g-web.


A calendar view is only supposed to show events taking place. An iCal file with a cancellation request has no practical visual representation in a calendar, though. Won't purse the idea further.